---
eleventyNavigation:
  key: movies
  parent: media
  title: Movies
---
<table>
  {% for movie in media.movies %}
  <tr>
    <td> {{ movie.title }} </td>
    <td> <img src="{{ movie.poster }}" /> </td>
    <td> {{ "Watched" if movie.watched else "Unwatched" }} </td>
    <td> {{ movie.imdbID }} </td>
  </tr>
  {% endfor %}
</table>