<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>

    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

    <div class="flex justify-center">
    {{ content | safe }}
    </div>
  </body>
</html>