<a href="/{{ root }}">{{ site.back_home_text }}</a>

<article>
  <h1>{{ title }} ({{ entries.length }})</h1>
  
	<div class="container">

	{% for item in entries %}
	<div class="container-column media {{ root.replace("media/", "") }}">

		<div class="media-poster">
			<img src="{{ item.poster }}">
		</div>

		<div class="container-column media-text">
			<span>
				<a href="{{ item.url }}" target="_blank"> {{ item.title }}</a>
				{% if item.year %} ({{ item.year }}) {% endif %}
			</span>

			{% if item.series %}
			<span><strong>Series:</strong> {{ item.series }}</span>
			{% endif %}

			{% if item.author %}
			<span><strong>Author:</strong> {{ item.author }}</span>
			{% endif %}

			<span><strong>Rating:</strong> {{ item.rating }}</span>

			<span><strong>Status:</strong> {{ item.status }}</span>

			{% if item.director %}
			<span><strong>Director:</strong> {{ item.director }}</span>
			{% endif %}

			{% set genres = item.genre %}
			{% if item.type %}
				{% set genres = item.genre.concat([item.type]) %}
			{% endif %}

			{% if genres %}
			{% set comma = joiner(",") %}
			<span><strong>Genre:</strong> 
				{% for genre in genres -%}
					{{ comma() }} {{ genre }}
				{%- endfor %}
			</span>
			{% endif %}

		</div>
	</div>
	{% endfor %}
	</div>

</article>
