<div class="flex fixed top-0 w-full justify-center bg-green-500 ">
  <a class="flex" href="{{ '/' | url }}">Home</a>
  <a class="flex" href="{{ '/resume' | url }}">Resume<a>
  <a class="flex mx-20" href="{{ '/media' | url }}">Media<a>
  <a class="flex mx-20" href="{{ '/study' | url }}">Study<a>
</div>