<head>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

{{ $data := index .Site.Data.fiction ( .Get "data" ) }}
{{ $key := (.Get "key") }}
{{ $value := .Get "value" }}


{{ if .Page.Params.BookCollapseSection }}
  {{ $value = "" }}
{{ end }}

<h1>{{ .Page.Title }}</h1>

{{ range $data }}
{{ if (or (eq $value "") (eq (index . $key) $value))}}
<div class="flex items-center m-10" data-rating="{{ .rating }}">
  <img class="w-24 sm:w-64" src="{{ .poster }}">
  <div class="flex flex-col ml-10 items-top">
    <p class="text-md sm:text-xl">{{ .title }} ( {{ .year }} )</p>
    {{ if .genre }} <p class="text-md sm:text-xl"><b>Genre:</b> {{ .genre }}</p> {{ end }}
    {{ if .director }}  <p class="text-md sm:text-xl"><b>Director:</b> {{ .director }}</p>  {{ end }}
    {{ if .rating }}  <p class="text-md sm:text-xl"><b>My Rating:</b> {{ .rating }}</p>  {{ end }}
    {{ if .status }}  <p class="text-md sm:text-xl"><b>Status: </b> {{ .status }}</p>  {{ end }}
  </div>
  <hr>
</div>
{{ end }}
{{ end }}